/* =========================
    FOOTER STYLES
   =========================
*/

footer {
	margin-top: 76px;
	background-color: $sand;
	position: relative;
	&:before {
		content:"";
		position: absolute;
		top: -45px;
		left: 0;
		background:  url(../img/bg_sand.png) no-repeat center;
		width: 100%;
		height: 145px;
	}
}
.footer-wrapper {
	padding-top: 3rem;
	padding-bottom: 1rem;
}

// .inline-list li {
// 	border-right: 2px solid #d0bc99;
// 	&:last-child {
// 		border-right: none;
// 	}
// }

.footer-note {
	text-shadow: -1px 1px #fff;
	border-right: 2px solid #d0bc99;
	h3 {
		font-family: "Georgia Bold", Serif;
		font-size: 1em;
		color: #00b2b0;
	}
	p {
		font-size: 0.85em;
		margin-bottom: 0;
	}
}

.footer-links {
	text-shadow: -1px 1px #fff;
	text-align: center;
	h3 {
		font-family: "Georgia Bold", Serif;
		font-size: 1em;
		color: #7ab104;
	}
	ul {
		margin-left: 0;
		padding-top: 66px;
		list-style: none;
		font-size: 1.25em;
	}
}
.social-icons {
	margin-top: 30px;
	display: flex;
	justify-content: space-around;
	list-style: none;
}
.footer-copyright-info {
	hr {
		border: solid $brown;
		border-width: 3px 0 0;
	}
	p {
		text-shadow: -1px 1px #fff;
	}
}
@media #{$medium-up} {
	#footer-logo {
		height: 220px;
		// margin-top: 34px;

	}
	.social-icons {
		margin-top: 86px;
	}
}
