/* =========================
    GENERAL STYLES
   =========================
*/

figure {
    margin: 0; // REMOVES DEFAULT MARGINS FOR HTML5 FIGURE ELEMENT
}

body {
	background: center $wood-texture;
}

// inline-list::after {
// 	content: "|";
// 	border-left:1px solid #38546d;
// 	border-right:1px solid #16222c;
// 	height:1em;
// 	position:absolute;
// 	right:249px;
// 	top:10px;
// }


// Main Content Styles

.main {
	// @include prefixer(box-shadow, $drop-shadow, webkit moz o);
	// background: center $paint-texture repeat-y;
}

// .text-overlay {
// 	@include linear-gradient(to bottom, hsla(0,0,0,0), hsla(100, 100, 100, 0.3));
// 	// @include background-image(url(../img/img_progress-02-18-15.png));
// 	background-color: #fff;
// 	height: 434px;
// 	position: relative;
// 	overflow: hidden;
// 	margin: 40px 0;
// 	& > section {
// 		position: absolute;
// 		bottom: 0;
// 		left: 0;
// 		width: 100%;
// 		padding: 20px 10px;
// 		& > h3 {
// 			background-color: hsla(0, 0, 0, .5);
// 			height: 50%;
// 			width: 50%;
// 			margin: 0;
// 			display: inline;
// 			font-family: "Museo Sans";
// 			color: white;
// 			// text-shadow: $drop-shadow;
// 		}
// 	}
// }
.no-left-padding {
	padding-left: 0;
}

.button {
    font-family: $header-font-family;
    font-size: 1.2rem;
    text-shadow: 0 0 3px rgba(0,0,0,0.3);
    @include transition( all,0.2s,ease );
    @include transform( rotate(0deg) );
    -webkit-backface-visibility: hidden;
    &:hover {
        @include transform( rotate(-5deg) );
    }
}

#main-content-img {
	width: 930px;
	height: 303px;
	margin: 1em auto;
}
.main:last-child {
	@include prefixer(box-shadow, $drop-shadow, webkit moz o);
}


// PANELS

.purple-panel {
	@include panel;
	@include prefixer(box-shadow, $drop-shadow, webkit moz o);
	border-color:$purple;
	height: auto;
}

.lime-green-panel {
	@include panel;
	@include prefixer(box-shadow, $drop-shadow, webkit moz o);
	border-color: $lime-green;
}

.blue-panel {
	@include panel;
	@include prefixer(box-shadow, $drop-shadow, webkit moz o);
	border-color: $blue;
}

.teal-panel {
	@include panel;
	@include prefixer(box-shadow, $drop-shadow, webkit moz o);
	border-color: $teal;
}


.read-more-panel {
	@include panel;
	@include prefixer(box-shadow, $drop-shadow, webkit moz o);
	border-color:$purple;
	h2 {
		color: #ee468c;
		font-size: 24px;
	}
}

.newsletter-panel {
	@include panel;
	@include prefixer(box-shadow, $drop-shadow, webkit moz o);
	border-color: #ee468c;
	h2 {
		color: #ee468c;
		font-size: 24px;
	}
	p {
		color: #000;
	}
}

.read-more-cta {
	box-shadow: $drop-shadow;
	text-shadow: $drop-shadow;
	@include image-color-overlay($nav-1-color, $paint-texture);
}

.newsletter-cta {
	box-shadow: $drop-shadow;
	text-shadow: $drop-shadow;
	@include image-color-overlay($nav-2-color, $paint-texture);
}

//CONTACT FORM

.g-recaptcha {
	margin-bottom: 1rem;
}
