/* =========================
    NAV STYLES
   =========================
*/
.nav-button-1 {
	@include nav-button($pink);
}

.nav-button-2 {
	@include nav-button($blue);
}

.nav-button-3 {
	@include nav-button($lime-green);
}

.nav-button-4 {
	@include nav-button($purple);
}


// #top-nav {
// 	list-style-type: none;
// 	ul {
// 	display: flex;
// 	justify-content: space-around;
// 	}
// 	li {
// 		display: inline;
// 		

// 		&:nth-child(5n+1) {
// 			@include image-color-overlay($teal, $paint-texture);
// 			border: $pink;
// 			border-width: 8px;
// 		}
// 		&:nth-child(5n+2) {
// 			@include image-color-overlay($teal, $paint-texture);
// 		}
// 		&:nth-child(5n+3) {
// 			@include image-color-overlay($teal, $paint-texture);
// 		}
// 		&:nth-child(5n+4) {
// 			@include image-color-overlay($teal, $paint-texture);
// 		}
// 		&:nth-child(5n+5) {
// 			@include image-color-overlay($teal, $paint-texture);
// 		}
// 	}
// }

.menu-icon a, span{
	color: #fff;

}

nav.top-bar {
	text-align: center;
}

.top-bar-section ul li {
	&:nth-child(5n+1) {
		@include image-color-overlay($teal, $paint-texture);
	}
	&:nth-child(5n+2) {
		@include image-color-overlay($teal, $paint-texture);
	}
	&:nth-child(5n+3) {
		@include image-color-overlay($teal, $paint-texture);
	}
	&:nth-child(5n+4) {
		@include image-color-overlay($teal, $paint-texture);
	}
	&:nth-child(5n+5) {
		@include image-color-overlay($teal, $paint-texture);
	}
	> a {
		font-size: 1.2rem;
		font-family: $header-font-family;
	}
}

.right > li > a {
	padding: 20px;
}

@media #{$large-up} {
#top-nav ul {
	list-style: none;
	margin-left: 0;
	margin-top: 20px;
	margin-bottom: 0;
	display: flex;
	justify-content: space-around;
	& li {
		list-style: none;
		@include transition( all,0.2s,ease );
	}
	& > li > a {
		// height: 52px;
		font-family: "Cabin Sketch",cursive;
		font-size: 1.5em;
		@include transform( rotate(0deg) );
		@include prefixer(box-shadow, $drop-shadow, webkit moz o);
		-webkit-backface-visibility: hidden;
		&:nth-child(odd):hover {
			@include transform( rotate(5deg) );
		}
		&:nth-child(even):hover {
			@include transform( rotate(-5deg) );
			& > a {
				@include transform(rotate(5deg));
			}
		}

	}
}
}
// .top-bar-section ul li:hover:not(.has-form)>a {
// 	background: rgba(0,0,0,0.1);
// }
