@mixin image-color-overlay($color, $img) {
	background: -webkit-linear-gradient($color, $color), $img;
	background: -o-linear-gradient($color, $color), $img;
	background: -moz-linear-gradient($color, $color), $img;
	background: linear-gradient($color, $color), $img;
}

@mixin nav-button($color){
	@include button(){};
	background-color: $teal;
	border-width: 8px;
	border-color: $color;
}