// COLORS

$pink: #ee468c;
$teal: #00b2b0;
$blue: #008CBA;
$sand: #F1E0C5;
$brown: #d0bc99;
$purple: rgba(117, 87, 159, 1);
$lime-green: #7ab104;

$nav-1-color: rgba(206, 48, 65, 1);
$nav-2-color: rgba(148, 190, 53, 1);
$nav-3-color: rgba(213, 92, 45, 1);
$nav-4-color: rgba(228, 187, 45, 1);
$nav-5-color: rgba(51, 169, 172, 1);
$nav-6-color: rgba(117, 87, 159, 1);

// FONTS
$header-font-family: "Cabin Sketch", cursive;

// COMMON BREAKPOINTS

$mobile: 480px;
$tablet: 768px;
$small-desktop: 1280px;
$large-desktop: 1680px;
$xlarge-desktop: 1920px;

// OTHER
$drop-shadow: 4px 4px 7px 0px rgba(0,0,0,0.65);
$paint-texture: url('../img/bg_main-repeat.jpg');
$wood-texture: url('../img/bg_repeat-old.jpg');
$wood-texture-overlay: url('..img/bg_repeat.png')
