/* =========================
    MEDIA QUERIES
   =========================
*/
@media #{$small-up} {}
@media #{$small-only} {

}

@media only screen and (min-width: 640px) and (max-width: 1280px) {}    // IN BETWEEN LARGE AND MEDIUM

@media #{$medium-up} {

}
@media #{$medium-only} {

}

@media #{$large-up} {

}
@media #{$large-only} {

}

@media #{$xlarge-up} {

}
@media #{$xlarge-only} { }

@media #{$xxlarge-up} {

}
@media #{$xxlarge-only} { }
