/* =========================
   CTA / SLIDER STYLES
   =========================
*/

.owl-carousel .owl-item img {
    width: 100%;
}

.text-overlay-container {
    position: absolute;
    top: 10%;
    left: 0px;
    width: 100%;
    span { 
        color: white;  
        background: rgb(0, 0, 0); /* fallback color */
        background: rgba(0, 178, 176, 0.7);
        padding: 10px; 
    }
}


/* =========================
    MAIN CONTENT STYLES
   =========================
*/

.subpage-headline {
    padding: 0;
    margin-bottom: 20px;
    h1 {
        border-radius: 2px;
        text-align: center;
        font-size: 4rem;
        color: $pink;
        text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
        line-height: 1;
        @include image-color-overlay(rgba(255,255,255,.9), none);
    }
}
.single-article {
    h2 {
        margin: 1rem 0;
        text-align: center;
    }
    p {
        text-align: center;
    }
    footer {
        padding-top: 0;
        background: none;
        &:before {
            display: none;
        }
    }
}
